In [0]:
import numpy as np
import pandas as pd

### 1. Ler e exibir um arquivo CSV usando pandas

In [0]:
df = spark.read.csv("/FileStore/tables/retail.csv", header=True, sep=',')
df = df.toPandas()
df.head()

,invoice_no,stock_code,description,quantity,invoice_date,unit_price,customer_id,region
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/10 8:26,"2,55",17850,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/10 8:26,"3,39",17850,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/10 8:26,"2,75",17850,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/10 8:26,"3,39",17850,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/10 8:26,"3,39",17850,United Kingdom

### 2. Selecionar colunas específicas de um DataFrame usando pandas

In [0]:
df_sel = df[['invoice_no', 'stock_code', 'description', 'quantity']]
df_sel.head()

,invoice_no,stock_code,description,quantity
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6
1,536365,71053,WHITE METAL LANTERN,6
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6

In [0]:
df_les = df.filter(['invoice_date', 'unit_price', 'customer_id', 'region'])
df_les.head()

,invoice_date,unit_price,customer_id,region
0,12/1/10 8:26,"2,55",17850,United Kingdom
1,12/1/10 8:26,"3,39",17850,United Kingdom
2,12/1/10 8:26,"2,75",17850,United Kingdom
3,12/1/10 8:26,"3,39",17850,United Kingdom
4,12/1/10 8:26,"3,39",17850,United Kingdom

### 3. Filtrar linhas com base em uma condição usando pandas

In [0]:
df[df['region'] == 'United Kingdom']

,invoice_no,stock_code,description,quantity,invoice_date,unit_price,customer_id,region
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/10 8:26,"2,55",17850,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/10 8:26,"3,39",17850,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/10 8:26,"2,75",17850,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/10 8:26,"3,39",17850,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/10 8:26,"3,39",17850,United Kingdom
...,...,...,...,...,...,...,...,...
541889,581585,22466,FAIRY TALE COTTAGE NIGHT LIGHT,12,12/9/11 12:31,"1,95",15804,United Kingdom
541890,581586,22061,LARGE CAKE STAND HANGING STRAWBERY,8,12/9/11 12:49,"2,95",13113,United Kingdom
541891,581586,23275,SET OF 3 HANGING OWLS OLLIE BEAK,24,12/9/11 12:49,"1,25",13113,United Kingdom
541892,581586,21217,RED RETROSPOT ROUND CAKE TINS,24,12/9/11 12:49,"8,95",13113,United Kingdom
541893,581586,20685,DOORMAT RED RETROSPOT,10,12/9/11 12:49,"7,08",13113,United Kingdom

### 4. Agrupar dados com base em uma coluna usando pandas

In [0]:
df.filter(like ='description')

,description
0,WHITE HANGING HEART T-LIGHT HOLDER
1,WHITE METAL LANTERN
2,CREAM CUPID HEARTS COAT HANGER
3,KNITTED UNION FLAG HOT WATER BOTTLE
4,RED WOOLLY HOTTIE WHITE HEART.
...,...
541904,PACK OF 20 SPACEBOY NAPKINS
541905,CHILDREN'S APRON DOLLY GIRL
541906,CHILDRENS CUTLERY DOLLY GIRL
541907,CHILDRENS CUTLERY CIRCUS PARADE
541908,BAKING SET 9 PIECE RETROSPOT

### 5. Usar a função max em alguma coluna do DataFrame

In [0]:
df['unit_price'].max()

Out[13]: '99,96'